.header_drawer {
  nav {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      text-decoration: none;
      color: $color_light_black;
      font-size: 18px;
      &:hover {
        color: $color_pink;
      }

      &.active {
        color: $color_pink;
        border-bottom: 2px solid $color_pink;
      }
    }
  }
}
