.header_drawer {
    * {
        font-weight: 600;
    }
    .drawer_body {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 40px;
    }
    nav {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      text-decoration: none;
      color: $color_light_black;
      font-size: 18px;
      &:hover {
        color: $color_pink;
      }

      &.active {
        color: $color_pink;
        border-bottom: 2px solid $color_pink;
      }
    }
  }

  .btns {
    button {
      width: 100%;
    }
  }
}
