// $color_dark_blue: rgb(27, 47, 51);
// $color_dark_green: #28502e;
// $color_light_green: #47682c;
// $color_light_brown: #8c7051;

$color_pink: #ef3054;
$color_light_black: #312f2f;
$color_sky_blue: #84dccf;
$color_light_orange: #f7a072;
$color_yellow: #efea5a;
$color_violet: #8b8bae;
$color_dark_grey: grey;
